.wrapper {
  background-color: aliceblue;
  padding: .3em;
}

.monster_face {
  width: 100%;
}

div#monsters .monster {
  margin-bottom: 15px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  padding: 0.2em;
  font-size: 100%;
  line-height: 1.5em;
}

div#godzilla {
    border: 1px solid #000000;
    background-color: #2467aa;
    color: black;
}

.monster table {
  background-color: #f8f9fa;
  width: 100%;
  text-align: center;
}

table, td, th {
  border: 1px solid;
  border-collapse: collapse;
}

div#ghidorah {
  border: 1px solid #000000;
  background-color: #b49301;
  color: black;
}



div#kong {
  border: 1px solid #000000;
  background-color: #644503;
  color: black;
}

div#monsters {
  float: right;
  background-color: black;
  width: 15em;
  border-width: 2px;
  border-style: ridge;
  border-color: #cccccc;
}

body {
  background-color: black
}

div.words, div.wrapper {
  width: 70%;
  margin: auto;
  text-align: center;
}

.words {
  height: 1200px;
}

.words p {
  background-color: tan;
  height: 90%;
  padding: 1em;
  font-size: 150%;
  margin: .5em;
}

html, body {
  heigth: 100%;
  margin: 0;
  padding: .2em
}