.wrapper {
  padding: .1em;
  background-color: white;
}

.monster_face {
  width: 100%;
}

div#monstersr .monster {
  margin-bottom: 15px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  padding: 0.2em;
  font-size: 1vw;
  line-height: 1.5em;
}

div#monstersr {
  float: right;
  background-color: black;
  width: 15%;
  border-width: 2px;
  border-style: ridge;
  border-color: #cccccc;
}

div#monstersl .monster {
  margin-bottom: 15px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  padding: 0.2em;
  font-size: 1vw;;
  line-height: 1.5em;
}

div#monstersl {
  float: left;
  background-color: black;
  width: 15%;
  border-width: 2px;
  border-style: ridge;
  border-color: #cccccc;
}

div#godzilla {
    border: 1px solid #000000;
    background-color: #2467aa;
    color: black;
}

.monster table {
  background-color: #f8f9fa;
  width: 100%;
  text-align: center;
}

table, td, th {
  border: 1px solid;
  border-collapse: collapse;
}

div#ghidorah {
  border: 1px solid #000000;
  background-color: #b49301;
  color: black;
}



div#kong {
  border: 1px solid #000000;
  background-color: #644503;
  color: black;
}



body {
  background-color: black
}

div.words, div.wrapper {
  text-align: center;
  margin-right: 16%;
  margin-left: 16%;
}

.words {
  height: 100vh;
  background-color: tan;
}

.words p {
  height: 90%;
  padding: 1em;
  font-size: 150%;
  margin: .5em;
}

html, body {
  heigth: 100%;
  margin: 0;
  padding: .2em
}